
@import "tailwindcss";
@plugin "daisyui" {
  themes: autumn --default
}

@theme {
 
    --font-primary :  "Lexend", sans-serif;
    --font-secondary : "Manrope", sans-serif;
    --font-tertiary : "Poppins", sans-serif;
     --shadow-card : rgba(0, 0, 0, 0.16) 0px 1px 4px;

    
}
@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
 
  
}